<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="dao.BoardDAO">
<select id="getAllCountBoardList" parameterType="dto.SearchDTO">
    	SELECT Count(*) as boardListCount	
        FROM board 
        WHERE 1=1
        <if test="searchList.title != null and searchList.title != ''">
        	AND title LIKE CONCAT('%', #{searchList.title}, '%')
        </if>
        <if test="searchList.content != null and searchList.content != ''">
        	AND content LIKE CONCAT('%', #{searchList.content}, '%')
        </if>
        <if test="searchList.userId != null and searchList.userId != ''">
        	AND id LIKE CONCAT('%', #{searchList.userId}, '%')
        </if>
        <if test="searchList.createDate != null and searchList.createDate != ''">
        	<![CDATA[
        		AND create_date >= #{searchList.createDate}
        		AND create_date <= DATE_ADD(#{searchList.createDate}, INTERVAL 1 DAY)
        	]]>
    	</if>
    	<if test="searchList.modifyDate != null and searchList.modifyDate != ''">
    		<![CDATA[
        		AND modify_date >= #{searchList.modifyDate}
        		AND modify_date < DATE_ADD(#{searchList.modifyDate}, INTERVAL 1 DAY)
        	]]>
    	</if>
        </select>


    <select id="getAllBoardList" resultType="dto.BoardDTO" parameterType="dto.SearchDTO">
    	SELECT 
       		system_no as sysNo, 
       		title, content, 
       		id as userId, 
       		user_system_no as userSysNo,
        	create_date as createDate,
        	modify_date as modifyDate, 
       		view,
       		like_count as likeCount,
        	img_path as strImgPath
        FROM board 
        WHERE 1=1
        <if test="searchList.title != null and searchList.title != ''">
        	AND title LIKE CONCAT('%', #{searchList.title}, '%')
        </if>
        <if test="searchList.content != null and searchList.content != ''">
        	AND content LIKE CONCAT('%', #{searchList.content}, '%')
        </if>
        <if test="searchList.userId != null and searchList.userId != ''">
        	AND id LIKE CONCAT('%', #{searchList.userId}, '%')
        </if>
        <if test="searchList.createDate != null and searchList.createDate != ''">
        	<![CDATA[
        		AND create_date >= #{searchList.createDate}
        		AND create_date <= DATE_ADD(#{searchList.createDate}, INTERVAL 1 DAY)
        	]]>
    	</if>
    	<if test="searchList.modifyDate != null and searchList.modifyDate != ''">
    		<![CDATA[
        		AND modify_date >= #{searchList.modifyDate}
        		AND modify_date < DATE_ADD(#{searchList.modifyDate}, INTERVAL 1 DAY)
        	]]>
    	</if>
    	<if test="type != null and type == 'allList'">
        	ORDER BY createDate DESC
        </if>
        <if test="type != null and type == 'likeList'">
        	ORDER BY like_count DESC
        </if>
        <if test="type != null and type == 'viewList'">
        	ORDER BY view DESC
        </if>
        LIMIT #{pageSize} OFFSET #{pageIndex};
    </select>
    
    <insert id="createBoard" useGeneratedKeys="false">
        INSERT 
        	INTO board (system_no, title, content, id, user_system_no, create_date, modify_date, view, img_path)
        	VALUES (REPLACE(UUID(), '-', ''), #{title}, #{content}, #{userId}, #{userSysNo}, now(), now(), 0, #{strImgPath});
    </insert>
    
    <update id="updateBoard" useGeneratedKeys="false">
    	UPDATE board
    	SET
        	title = #{title},
        	content = #{content},
        	id = #{userId},
        	user_system_no = #{userSysNo},
        	modify_date = now(),  
        	img_path = #{strImgPath}
    	WHERE system_no = #{sysNo}
	</update>
    
    <select id="getBoardDetail" resultType="dto.BoardDTO" parameterType="dto.SearchDTO">
        SELECT 
        	system_no as sysNo,  
        	title, content, 
        	id as userId, 
        	user_system_no as userSysNo,
        	create_date as createDate,
        	modify_date as modifyDate, 
        	view,
        	img_path as strImgPath
        FROM board 
        WHERE system_no = #{searchList.sysNo};
    </select>
    
    <insert id="createUser" useGeneratedKeys="false">
        INSERT 
        	INTO user (system_no, id, password, name, create_date, modify_date, email, phone)
        	VALUES (REPLACE(UUID(), '-', ''), #{id}, #{password}, #{name}, now(), now(),#{email}, #{phone});
    </insert>
    
    <select id="checkUser" resultType="dto.UserDTO" parameterType="hashMap">
        SELECT 
        	system_no as sysNo,  
        	id as id, 
        	password as password,
        	name as name,
        	email as email,
        	phone as phone,
        	create_date as createDate,
        	modify_date as modifyDate
        FROM user 
        WHERE 1=1
        AND ${key} = #{value};
    </select>
    
    <update id="updateUserDetail" useGeneratedKeys="false">
    	UPDATE user
    	SET
        	name = #{name},
        	modify_date = now(),  
        	phone = #{phone},
        	email = #{email}
    	WHERE system_no = #{sysNo}
	</update>
	
	<update id="updateUserPw" parameterType="hashMap">
    	UPDATE user
    	SET
        	password = #{newPassword}
    	WHERE system_no = #{sysNo}
	</update>
	
	<update id="syncViewCount" useGeneratedKeys="false">
    	UPDATE board
    	SET
        	${type} = #{count},
        	modify_date = now()
    	WHERE system_no = #{sysNo}
	</update>
	
	<insert id="createComment" useGeneratedKeys="false">
        INSERT 
        	INTO comment (system_no, parent_system_no, board_system_no, comment, id, user_system_no, create_date, modify_date )
        	VALUES (REPLACE(UUID(), '-', ''), #{parSysNo}, #{boardSysNo}, #{comment}, #{userId}, #{userSysNo}, now(), now());
    </insert>
    
    <select id="getComment" resultType="dto.CommentDTO" parameterType="dto.SearchDTO">
        SELECT 
        	system_no as sysNo,  
        	parent_system_no as parSysNo, 
        	board_system_no as boardSysNo, 
        	comment as comment,
        	id as userId, 
       		user_system_no as userSysNo,
        	create_date as createDate,
        	modify_date as modifyDate
        FROM comment 
        WHERE 1=1
        AND board_system_no = #{searchList.sysNo}
        ORDER BY create_date DESC;
    </select>
</mapper>